---
import { basics } from "cv.json"
const { summary } = basics
---

<section>
  <h3>PERFIL</h3>
  <p>{summary}</p>
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 18px;

    h3 {
      margin-bottom: 5px;
    }
  }
</style>
