---
import { education } from "cv.json"
---

<section>
  <h3>EDUCACIÓN</h3>
  <ul>
    {education.map(({ summary }) => (
    <li>
      <p>{summary}</p>
    </li>
    ))}
  </ul>
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 18px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    h3 {
      margin-bottom: 5px;
    }

    @media (width <= 700px) {
      time {
        text-align: right;
      }
    }
  }
</style>
