<section>
  <h3>PROYECTOS</h3>
  <table>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/AdministrationDB.git">AdministrationDB</a></td>
      <td><a href="https://github.com/moraisLuismNet/ChatAPI.git">ChatAPI</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/ChatMVC.git">ChatMVC</a></td>
      <td><a href="https://github.com/moraisLuismNet/eCommerceDs.git">eCommerceDs</a></td>
    </tr>
    <tr>
			<td><a href="https://github.com/moraisLuismNet/eCommerceDsImageUrl.git">eCommerceDsImageUrl</a></td>
			<td><a href="https://github.com/moraisLuismNet/eCommerceDsImageUrl_Docker.git">eCommerceDsImageUrl_Docker</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/eCommerceDsMicroServices.git">eCommerceDsMicroServices</a></td>
			<td><a href="https://github.com/moraisLuismNet/eCommerceDsMicroServicesImageUrl.git">eCommerceDsMicroServicesImageUrl</a></td>
    </tr>
    <tr>
			<td><a href="https://github.com/moraisLuismNet/eCommerceDsMicroServicesImageUrl_Docker.git">eCommerceDsMicroServicesImageUrl_Docker</a></td>
			<td><a href="https://github.com/moraisLuismNet/ERPMicroServices.git">ERPMicroServices</a></td>
		</tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/Library.git">Library</a></td>
      <td><a href="https://github.com/moraisLuismNet/Library_MySQL.git">Library_MySQL</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/Library_Sqlite.git">Library_Sqlite</a></td>
     <td><a href="https://github.com/moraisLuismNet/Store.git">Store</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/Store_MySQL.git">Store_MySQL</a></td>
			<td><a href="https://github.com/moraisLuismNet/Store_Sqlite.git">Store_Sqlite</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/AngularChatAPI_20.git">AngularChatAPI_20</a></td>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDs_20.git">AngulareCommerceDs_20</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsImageUrl_20.git">AngulareCommerceDsImageUrl_20</a></td>
			<td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsImageUrlDocker_20.git">AngulareCommerceDsImageUrlDocker_20</a></td>
		</tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsMicroServices_20.git">AngulareCommerceDsMicroServices_20</a></td>
			<td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsMicroServicesImageUrl_20.git">AngulareCommerceDsMicroServicesImageUrl_20</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsMicroServicesImageUrlDocker_20.git">AngulareCommerceDsMicroServicesImageUrlDocker_20</a></td>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsNodeExpressTypeScriptMongoDB_20.git">AngulareCommerceDsNodeExpressTypeScriptMongoDB_20</a></td>
    </tr>
		 <tr>
      <td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsNodeExpressTypeScriptPostgreSQL_20.git">AngulareCommerceDsNodeExpressTypeScriptPostgreSQL_20</a></td>
			<td><a href="https://github.com/moraisLuismNet/AngulareCommerceDsNodeExpressTypeScriptPostgreSQLDocker_20.git">AngulareCommerceDsNodeExpressTypeScriptPostgreSQLDocker_20</a></td>
    </tr>
		<tr>
      <td><a href="https://github.com/moraisLuismNet/AngularERP.git">AngularERP</a></td>
			<td><a href="https://github.com/moraisLuismNet/AngularLibrary_20.git">AngularLibrary_20</a></td>
		</tr>
		<tr>
      <td><a href="https://github.com/moraisLuismNet/AngularLibraryNodeExpressTypeScriptMongoDB_20.git">AngularLibraryNodeExpressTypeScriptMongoDB_20</a></td>
			<td><a href="https://github.com/moraisLuismNet/AngularLibraryNodeExpressTypeScriptPostgreSQL_20.git">AngularLibraryNodeExpressTypeScriptPostgreSQL_20</a></td>
    </tr>
		<tr>
		  <td><a href="https://github.com/moraisLuismNet/AngularStore_20.git">AngularStore_20</a></td>
      <td><a href="https://github.com/moraisLuismNet/FantasticFries.git">FantasticFries</a></td>
    </tr>
		 <tr>
		  <td><a href="https://github.com/moraisLuismNet/moraisLuismNet_LandingPage.git">moraisLuismNet_LandingPage</a></td>
			<td><a href="https://github.com/moraisLuismNet/moraisLuismNet_Portfolio.git">moraisLuismNet_Portfolio</a></td>
    </tr>
		<tr>
			<td><a href="https://github.com/moraisLuismNet/Libft.git">Libft</a></td>
			<td><a href="https://github.com/moraisLuismNet/EcommerceCartNext.git">EcommerceCartNext</a></td>
		</tr>
		<tr>	
		  <td><a href="https://github.com/moraisLuismNet/eCommerceCartNodeExpress_TypeScriptMongoDB.git">eCommerceCartNodeExpress_TypeScriptMongoDB</a></td>
      <td><a href="https://github.com/moraisLuismNet/eCommerceDsNodeExpress_TypeScriptMongoDB.git">eCommerceDsNodeExpress_TypeScriptMongoDB</a></td>
    </tr>
		<tr>
		 <td><a href="https://github.com/moraisLuismNet/eCommerceDsNodeExpress_TypeScriptMongoDBDocker.git">eCommerceDsNodeExpress_TypeScriptMongoDBDocker</a></td>
		 <td><a href="https://github.com/moraisLuismNet/eCommerceDsNodeExpress_TypeScriptPostgreSQL.git">eCommerceDsNodeExpress_TypeScriptPostgreSQL</a></td>
    </tr>
		<tr>
		   <td><a href="https://github.com/moraisLuismNet/eCommerceDsNodeExpress_TypeScriptPostgreSQLDocker.git">eCommerceDsNodeExpress_TypeScriptPostgreSQLDocker</a></td>
			<td><a href="https://github.com/moraisLuismNet/LibraryNodeExpress_TypeScriptMongoDB.git">LibraryNodeExpress_TypeScriptMongoDB</a></td>
    </tr>
		<tr>
		  <td><a href="https://github.com/moraisLuismNet/LibraryNodeExpress_TypeScriptPostgreSQL.git">LibraryNodeExpress_TypeScriptPostgreSQL</a></td>
			<td><a href="https://github.com/moraisLuismNet/ReacteCommerceCartNodeExpress_TypeScriptMongoDB_19.git">ReacteCommerceCartNodeExpress_TypeScriptMongoDB_19</a></td>
    </tr>
  </table>
</section>

<style>
  Section {
    max-width: 700px;
    margin: 0 auto 18px;

    h3 {
      margin-bottom: 5px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ddd;
    }

    td {
      padding: 5px;
      font-size: 0.8em;
      border: 1px solid #ddd;
    }

    @media (width <= 700px) {
      time {
        text-align: right;
      }
    }
  }
</style>
